<div class="footer-container">
  <div class="footer">
    <div class="footer-left-detail">
      <div class="store-name">
        <p style="color: #1e429f">TECH</p>
        <p style="color: white">STORE</p>
      </div>
      <div class="store-info">
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum optio
          expedita, eius doloremque blanditiis ipsam voluptatum quidem excepturi
          natus hic unde incidunt! Laudantium quibusdam numquam, facere dicta
          illo nesciunt tempora.
        </p>
      </div>
    </div>
    <div class="footer-right-detail">
      <div class="footer-right-detail-1">
        <p style="color: white" class="detail-1-header">Heading</p>
        <p style="color: white" class="detail-1-topic">Heading</p>
        <p style="color: white" class="detail-1-topic">Heading</p>
        <p style="color: white" class="detail-1-topic">Heading</p>
        <p style="color: white" class="detail-1-topic">Heading</p>
        <p style="color: white" class="detail-1-topic">Heading</p>
      </div>
      <div class="footer-right-detail-2">
        <p style="color: white" class="detail-2-header">Heading</p>
        <p style="color: white" class="detail-2-topic">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="detail-3-icon">
          <div class="detail-3-icon-detail"></div>
          <div class="detail-3-icon-detail"></div>
          <div class="detail-3-icon-detail"></div>
          <div class="detail-3-icon-detail"></div>
        </div>
      </div>
    </div>
  </div>
</div>
