<div class="container">
  <!------------------------------------------------------------- HEADER ------------------------------------------------------------->
  <div class="topic-flex-container">
    <div class="topic">
      <div class="topic-icon">
        <img src="/icons/new-product-icon.svg" alt="" />
        <p
          style="
            margin-left: 8px;
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 600;
          "
        >
          สินค้ามาใหม่
        </p>
      </div>
    </div>
    <div class="all-product">
      <a href="">
        <p
          style="
            font-size: 18px;
            font-weight: 600;
            margin-right: 8px;
            margin-bottom: 0;
          "
        >
          ดูทั้งหมด
        </p>
        <img
          src="/icons/view-all-icon.svg"
          style="width: 8px; height: 16px"
          alt=""
        />
      </a>
    </div>
  </div>
  <!------------------------------------------------------------- Products ------------------------------------------------------------->
  <div id="cssportal-grid">
    <!-- 1 -->
    <div id="div1">
      <img
        style="border-radius: 5px"
        src="/images/banner/promotions_1.png"
        alt=""
      />
    </div>
    <!-- 2 -->
    <div id="div2" class="s-product-top">
      <div class="s-product-img">
        <img
          style="width: 332px; height: 338px"
          src="images/specail/01.png"
          alt=""
        />
      </div>
      <div class="s-product-detail">
        <p>WIRELESS HEADSET (หูฟังไร้สาย) FANTECH STUDIO PRO WHG03P (WHITE)</p>
      </div>
      <div class="s-product-price">
        <p>฿ 1,890</p>
      </div>
    </div>
    <!-- 3 -->
    <div id="div3" class="s-product">
      <div class="s-product-img">
        <img
          class="s-product-img-detail"
          src="images/specail/02.png"
          alt=""
        />
      </div>
      <div class="s-product-detail">
        <p>Wireless Headset BETENO (BH-300) Pink</p>
      </div>
      <div class="s-product-price">
        <p>฿ 810</p>
      </div>
    </div>
    <!-- 4 -->
    <div id="div4" class="s-product">
      <div class="s-product-img">
        <img
          class="s-product-img-detail"
          src="images/specail/03.png"
          alt=""
        />
      </div>
      <div class="s-product-detail">
        <p>HEADSET (7.1) SIGNO HP-833 WHITE</p>
      </div>
      <div class="s-product-price">
        <p>฿ 480</p>
      </div>
    </div>
    <!-- 5 -->
    <div id="div5" class="s-product">
      <div class="s-product-img">
        <img
          class="s-product-img-detail"
          src="images/specail/04.png"
          alt=""
        />
      </div>
      <div class="s-product-detail">
        <p>
          WIRELESS/BLUETOOTH KEYBOARD AJAZZ AK992 MURKY BLUSH - RED SWITCH
        </p>
      </div>
      <div class="s-product-price">
        <p>
          ฿ 1,400
        </p>
      </div>
    </div>
    <!-- 6 -->
    <div id="div6" class="s-product">
      <div class="s-product-img">
        <img
          class="s-product-img-detail"
          src="images/specail/05.png"
          alt=""
        />
      </div>
      <div class="s-product-detail">
        <p>
          WIRELESS/BLUETOOTH KEYBOARD AULA AU75 BLACK STAR-SWITCH
        </p>
      </div>
      <div class="s-product-price">
        <p>
          ฿ 1,790
        </p>
      </div>
    </div>
  </div>
</div>
