<div>
  <div class="product-category-header">
    <img src="/icons/product-category-icon.svg" alt="" />
    <p
      style="
        margin-left: 8px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 600;
      "
    >
      หมวดหมู่สินค้า
    </p>
  </div>
  <!-- Category -->
  <div class="parent">
    <div class="product-category-name">
      <img src="/icons/monitor_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Monitor
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/cpu_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        CPU
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/mainboard_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Mainboard
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/gpu_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Graphic Card
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/ram_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Ram
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/storage_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Storage
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/psu_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Power Supply
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/cooler_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Cooler
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/mouse_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Mouse
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/keyboard_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Keyboard
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/headphone_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Headphone
      </p>
    </div>
    <div class="product-category-name">
      <img src="/icons/webcam_icon.png" alt="" />
      <p style="margin: 0; font-size: 12px; font-weight: 400; color: black">
        Webcam
      </p>
    </div>
  </div>
</div>
