<section>
  <app-navbar></app-navbar>
  <div class="header-navigation-container">
    <div class="header-navigation-detail">
      <div class="header-navigation-content">
        <img src="/icons/home_icon.png" alt="" />
        <p>หน้าหลัก</p>
        <p>></p>
        <p>mainboard</p>
        <p>></p>
        <p>รายละเอียด</p>
      </div>
    </div>
  </div>
</section>
<!-------------------------------------------------- HEADER -------------------------------------------------->
<section class="product">
  <div class="product-container">
    <main>
      <p-galleria
        [value]="images"
        [showItemNavigators]="true"
        [responsiveOptions]="responsiveOptions"
        [circular]="true"
        [numVisible]="5"
        [(activeIndex)]="activeIndex"
      >
        <ng-template pTemplate="item" let-item>
          <img
            class="img-pgalleria-header"
            [src]="item.itemImageSrc"
            style="width: 100%"
          />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img
              class="img-pgalleria-thumbnail"
              [src]="item.thumbnailImageSrc"
            />
          </div>
        </ng-template>
      </p-galleria>
    </main>
    <aside>
      <div class="product-content">
        <div class="product-badge">มีสินค้า</div>
        <div class="product-title">{{ product.name }}</div>
        <!-- <div class="product-detail">{{ product.description }}</div> -->
        <div class="product-descript">
          <div class="detail">
            <div class="product-descript-brand">
              <p>แบรนด์: {{ product.details.brands }}</p>
            </div>
            <div class="product-descript-brand">
              <p>รหัสสินค้า: xxxxxxx</p>
            </div>
          </div>
          <div class="product-descript-brand">
            <p>สินค้าในคลัง {{ product.quantity }}</p>
          </div>
        </div>
        <div class="product-price">{{ product.price | number }} ฿</div>
        <div class="product-count">
          <div class="count-btn">
            <a (click)="decreaseQuantity()" href="javascript:void(0)">
              <img src="/icons/product_subtract_icon.png" alt="" />
            </a>
            <p>{{ numOfProduct }}</p>
            <a (click)="increaseQuantity()" href="javascript:void(0)">
              <img src="/icons/product_plus_icon.png" alt="" />
            </a>
          </div>
          <div class="add-to-cart" (click)="addToCart()">
            <p>เพิ่มลงตะกร้า</p>
          </div>
          <div class="buy-now">
            <p>ซื้อเลย</p>
          </div>
        </div>
        <div class="favorite">
          <div class="like">
            <img src="icons/favorite.png" alt="">
            <p>เพิ่มเข้ารายการโปรด</p>
          </div>
          <div class="share">
            <p>แชร์:</p>
            <img src="icons/share_link.png" alt="">
            <img src="icons/share_line.png" alt="">
            <img src="icons/share_facebook.png" alt="">
          </div>
        </div>
      </div>
      <div class="credit">
        <p>100% การันตีความปลอดภัย</p>
        <div class="credit-support">
          <img src="icons/formkit_visa.png" alt="">
          <img src="icons/logos_mastercard.png" alt="">
          <img src="icons/logos_paypal.png" alt="">
        </div>
      </div>
    </aside>
  </div>
</section>
<!------------------------------------------------------------- Mainboard ------------------------------------------------------------->
<section class="detail">
  <div class="detail-container" [class.expanded]="isExpanded">
    <div class="detail-contents" *ngIf="product.type === 'Mainboard'">
      <div
        class="detail-content-header"
        style="font-size: 16px; font-weight: 600; color: #1e429f"
      >
        คุณสมบัติสินค้า
      </div>
      <div class="detail-content"></div>
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Brand</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.brands }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">CPU Support</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.cpuSupport }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">CPU Socket</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.cpuSocket }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Chipset</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.chipset }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Memory Slots</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.memorySlots }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Memory Type</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.memoryType }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Max Memory</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.maxMemmory }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Onboard Graphics</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.onboardGraphics }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Onboard Audio Chipset</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.onboardAudioShipset }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Audio Channels</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.audioChanels }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Expansion Slots</div>
      </div>
      <div class="detail-arr">
        <div
          *ngFor="
            let expansionSlots of product.details.expansionSlots;
            let i = index
          "
        >
          <div class="detail">{{ expansionSlots }}</div>
        </div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Storage</div>
      </div>
      <div class="detail-arr content-grey-color">
        <div *ngFor="let storage of product.details.storage; let i = index">
          <div class="detail">{{ storage }}</div>
        </div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Rear Panel I/O</div>
      </div>
      <div class="detail-arr">
        <div *ngFor="let rearPanel of product.details.rearPanel; let i = index">
          <div class="detail">{{ rearPanel }}</div>
        </div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">LAN Chipset</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.lanChipset }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">LAN Speed</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.lanSpeed }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Dimensions</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.dimensions }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Power Pin</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.powerPin }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content content-grey-color">
        <div class="title">Form Factor</div>
      </div>
      <div class="detail-content content-grey-color">
        <div class="detail">{{ product.details.formFactor }}</div>
      </div>
      <!-- title and detail end -->
      <!-- title and detail start -->
      <div class="detail-content">
        <div class="title">Warranty</div>
      </div>
      <div class="detail-content">
        <div class="detail">{{ product.details.warranty }}</div>
      </div>
      <!-- title and detail end -->
    </div>
    <button class="toggle-btn" (click)="toggleContent()">
      {{ isExpanded ? "แสดงน้อยลง" : "ดูเพิ่มเติม" }}
    </button>
  </div>
</section>
<!----------------------------------------------------- Popular products slide --------------------------------------------------->
<section class="recomment">
  <div class="recomment-container">
    <div class="recomment-title">
      <img src="/icons/new-product-icon.svg" alt="" />
      <p
        style="
          margin-left: 8px;
          margin-bottom: 0px;
          font-size: 18px;
          font-weight: 600;
        "
      >
        สินค้าแนะนำ
      </p>
    </div>
  </div>
  <app-product-slide></app-product-slide>
</section>
<!------------------------------------------------------------- FOOTER ------------------------------------------------------------->
<section>
  <app-footer></app-footer>
</section>
